.container{ 

	width:740px;

}

.subdivision{

	border:1px solid #ddd;
	border-bottom:0;
	background:#f9f9f9;

}

.container_options label{

	font-size:12px;
	font-weight:700;
	width:200px;
	display:block;
	float:left;	

}

.input {

	height: 50px;
	padding:30px 10px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
	
}

.container_options small{

	display:block;
	float:right;
	width:200px;
	color:#999;

}

.container_options small.first_option{

	display:block;
	float:right;
	width:270px;
	color:#999;

}

.container_options input[type="text"], .container_options select{

	width:230px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1em;
	background:#f3f3f3;
	margin-right: 5px;

}
.input input:focus{

		background:#fff;

}

.title h3 {

	cursor:pointer;
	font-size:1em;
	text-transform: uppercase;
	margin:0;
	font-weight:bold;
	color:#232323;
	float:left;
	width:80%;
	padding:14px 4px;

}

.title{

	cursor:pointer;
	border-bottom:1px solid #ddd;
	background:#eee;
	padding:0;

}

.title h3 img.close{

	margin:-8px 10px 0 2px;
	width:110px;
	height:32px;	
	background:url('../component/images/pointer.png') no-repeat 0 0;
	float:left;
	border:1px solid #ccc;

}

.title h3 img.open{

	margin:-8px 10px 0 2px;
	width:110px;
	height:32px;	
	background:url('../component/images/pointer.png') no-repeat  0 -32px;
	float:left;
	border:1px solid #ccc;

}
		
.title h3:hover img{

	border:1px solid #999;

}

.title span.submit{

	display:block;
	float:right;
	margin:0;
	padding:0;
	width:15%;
	padding:14px 0;

}


.new_menu_submit, .new_submenu_submit {

	position: relative;
	display:block;

	top: -52px;
	left: 500px;
	padding:0;
	width:15%;
	padding:14px 0;

}




table .new_menu, table .new_submenu {

	padding-top: 50px;

	border: medium solid #000000;
	border-collapse: collapse;

	width: 50%;

}

.new_menu th, .new_submenu th {

	padding-top: 50px;

	font-family: monospace;
	border: thin solid #7c7c7c;
	padding: 5px;

	color : #ffffff;
	background-color: #7c7c7c;

}

.new_menu td, .new_submenu td {

	font-family: sans-serif;
	border: thin solid #7c7c7c;
	padding: 5px;
	text-align: center;
	background-color: #ffffff;
word-break: break-all;

}
















.clear_both{

	clear:both;

}

.backend_images{

	border: dashed 1px #000000;
	
}

.container_backend_images{

	position: relative;
	float: left;
	height: 300px;
	margin-left: 50px;
	margin-top: 10px;
	
}

.backend_images_text{

	position: relative;	
	width: 50px;	
	margin-right: auto; 
	margin-left: auto;
	
}

.input_left{

	position: relative;	
	float: left;
	margin-bottom: 20px;

}

.input_right{

	position: relative;	
	float: right;
	margin-bottom: 20px;		
	color: #ffffff;
	background-color: #ff0000;

}

.red_color{

	position: relative;	
	color: #ff0000;
	font-weight: bold;

}






